::selection {
    background: var(--fore-color);
    color: var(--back-color);
  }

:root {
    --back-color: black;
    --fore-color: #0f0;
    --bloom-filter: drop-shadow(0 0 2px var(--fore-color)); 
}

body {
    background-color: var(--back-color);
    color: var(--fore-color);
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 16px;
    line-height: 1.5;
    padding: 50px;
    margin: 0;
    filter: var(--bloom-filter);
}

h1, h2 {
    color: var(--fore-color);
    text-align: center;
    display: block;
    width: 100%;
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 20px;
}

li {
    background-color: var(--back-color);
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
}

strong {
    font-size: 1.2em;
}

p {
    margin: 5px 0;
}
.results-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.results-list li {
    display: flex;
    justify-content: space-between;
    background-color: var(--back-color);
    padding: 10px;
    border-radius: 5px;
}
.team-logo {
    border-radius: 0%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}


