<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHA-272 - CTF Team</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
<h1><span>Welcome to SHA-272 CTF Team Profile</span></h1>
    <h2>Members:</h2>
    <ul>
        {% for member in members %}
            <li>
                <strong>{{ member.name }}</strong> - {{ member.role }}
                <p>Quote: {{ member.quote }}</p>
            </li>
        {% endfor %}
    </ul>
<h2>CTF Participation:</h2>
<ul class="results-list">
    {% for event in events %}
    <li>
        <strong>{{ event.name }}</strong> - {{ event.score }} ({{ event.place }}th) Date: {{ event.date }}
    </li>
    {% endfor %}
</ul>
</body>
</html>

