<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ team.name }} - CTF Team</title>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Team Logo" class="team-logo">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const textElement = document.querySelector('.text_type');

        textElement.addEventListener('animationend', function() {
            textElement.classList.add('typed');
        });
    });
</script>
<h1><span class="text_type">Welcome to {{ team.name }} CTF Team Website!</span></h1>
    <h2>Members:</h2>
    <ul>
        {% for member in team.members %}
            <li>
                <strong>{{ member.name }}</strong> - {{ member.role }}
                <p>Achievements: {{ member.achievements }}</p>
            </li>
        {% endfor %}
    </ul>
<h2>Our Achievements</h2>
<ul class="results-list">
    {% for event in events %}
    <li>
        <strong>{{ event.name }}</strong> - {{ event.score }}
    </li>
    {% endfor %}
</ul>

    <h2>Contact us:</h2>
    <p>Email: {{ team.contact }}</p>
</body>
</html>

